spring:
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
server:
  port: 8761

eureka:
  client:
    registerWithEureka: false
    fetchRegistry: false
  dashboard:
    enabled: true